/*fonts*/
@font-face {
    font-family: 'DOS';
    src: url("src/DOS.ttf") format('truetype')
} 


/*background*/
body {
    background-image: url("src/fade.png");
    image-rendering: pixelated;
    background-repeat: repeat-x;
    background-color: #000000;
    font-family: "Roboto", Arial, sans-serif;
    text-shadow: 0px 0.5px 2px #000000;
    color: #e4e4e4;
}

/*main site containter*/
.content {
    background-image: url("src/thewebpinstripe.png");
    image-rendering: pixelated;
    padding: 20px;
    width: 600px;
    margin: auto;
    box-shadow: 0px 0px 16px 8px #000000;
    position: relative;
    top: 16px;

    /*border*/
    border-top: 2px solid #000000;
    border-image: linear-gradient(90deg,rgba(255, 0, 179, 0) 0%, rgba(255, 0, 179, 1) 50%, rgba(255, 0, 179, 0) 100%) 1;
}

/*title*/
h1 {
    font-family: 'DOS', Arial, sans-serif;
    color: hsl(329, 100%, 93%);
    text-shadow: 0px 0px 2px #f172bc, 0px 0px 4px #ff0095, 0px 0px 8px #ff0095;
    text-align: center;
}

/*header*/
h2 {
    font-weight: 150;
    font-variant-caps:all-small-caps;
    font-size: 36px;
    text-shadow: 0px 0px 2px #eb1190, 0px 0px 4px #ff46b2;
}

/*footer placeholder*/
#smol {
    font-size: 12px;
    font-style: italic;
}

/*8831 images*/
#eightyeight {
    padding: 16px;
    border-spacing: 4px;  
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 4px;              
}
a {
    color: #fabedf;
    text-shadow: 0px 0px 2px #eb1190, 0px 0px 4px #ff46b2;
    font-weight: 200;
    text-decoration: none;
}

/*hover pseudoclass*/
a:hover {
    color: #fabedf;
    text-shadow: 0px 0px 4px #ff96d3, 0px 0px 8px #ff0095;
    text-decoration: underline;
}

/*images*/
img {
    image-rendering: pixelated;
}

/*site navigation*/
#navigation {
    /*flex setup*/
    display: flex;
    gap: 10px;
    padding: 8px;
    margin: auto;
    justify-content: center;
    align-items: center;

    /*border again*/
    border-bottom: 2px solid #000000;
    border-image: linear-gradient(90deg,rgba(255, 0, 179, 0) 0%, rgba(255, 0, 179, 1) 50%, rgba(255, 0, 179, 0) 100%) 1;
}

/*portfolio junk*/
/*photo collage*/
.collage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 8px;
    width: fit-content;
    box-sizing: border-box;
}

.collage img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    image-rendering: optimizeQuality
}

/*sub content div*/
.subContent {
    padding: 8px;
    padding-top: 0px;
}


/*relative scaling for mobile*/
@media screen and (width < 600px) {
    .content {
        width: 100%;
        background-color: #1d1d1d;
        margin: left;
        box-shadow: 0px 0px 0px 0px #000000;
    }

    .subContent {
        padding: 0px;
    }

    .collage img {
        width: 150px;
    }

    .collage {
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}